<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | 404</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
	<style>
	#toFix{
		margin-left:0px;
		opacity:1;
	}
	</style>
</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix home">
			<div class="hero-image">
				<div id="toFix" class="overlay left">
					<div class="overlay-text">
						Wrong <span class="highlight"><a href="../views/home.html">page.</a></span>
						<br>
						Try this <span class="highlight"><a href="../views/home.html">one.</a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/22.jpg" alt="">
			</div>

			<div class="overview-container">
				<div class="table clearfix">
					<div class="single">
						<div class="section">404</div>
					</div>
				</div>
				</div>
			</div>
			
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>