<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | About</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
	
	<style>

	.rowOf, .rowJO{
		cursor:pointer; cursor:hand;
	}
	#infOf0, #infOf1, #infOf2, #infJO0, #infJO1, #infJO2, #infJO3, #infJO4, #infJO5, #infJO6{
		background-color: white;
		color:#DF272C;
		display: none;
	}

	#toFix{
		left:-20px;
		opacity:1;
	}

	</style>

</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="current-nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix about load" id="main-container">
			<div class="hero-image">
				<div id="toFix" class="overlay left">
					<div class="overlay-text">
						The<span class="highlight"><a href="../views/events.html"> events </a></span> are super cool.
						<br>
						The people are even better!
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/26.jpg" alt="">
			</div>
			
			<div class="row-container">
				<div>
					<h1 class="title"> MEET OUR OFFICERS </h1>
				</div>
				<div class="row three">
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/cw.jpg"></div>
						<img src="../images/portrait/cw-flip.jpg">
						<h1> Christine Wang </h1>
						<p> President </p>
					</div>
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/vc.jpg"></div>
						<img src="../images/portrait/vc-flip.jpg">
						<h1> Valentina Chen </h1>
						<p> VP Internal </p>
					</div>
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/ml.jpg"></div>
						<img src="../images/portrait/ml-flip.jpg">
						<h1> Mimi Lie </h1>
						<p> VP External </p>
					</div>
				</div>

				<div id="infOf0">A problem has occured</div>

				<div class="row four">
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/jz.jpg"></div>
						<img src="../images/portrait/jz-flip.jpg">
						<h1> Jane Zeng </h1>
						<p> Special Events Director </p>
					</div>
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/sz.jpg"></div>
						<img src="../images/portrait/sz-flip.jpg">
						<h1> Sally Zhang </h1>
						<p> Finance Director </p>
					</div>
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/ic.jpg"></div>
						<img src="../images/portrait/ic-flip.jpg">
						<h1> Isabella Chen </h1>
						<p> Marketing Director </p>
					</div>
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/lc.jpg"></div>
						<img src="../images/portrait/lc-flip.jpg">
						<h1> Lisa Chung </h1>
						<p> Communications Director </p>
					</div>
				</div>

				<div id="infOf1">A problem has occured</div>
				
				<div class="row three">
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/am.jpg"></div>
						<img src="../images/portrait/am-flip.jpg">
						<h1> Alan Ma </h1>
						<p> Web Director </p>
					</div>
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/mg.jpg"></div>
						<img src="../images/portrait/mg-flip.jpg">
						<h1> Mario Green </h1>
						<p> Athletics Director </p>
					</div>
					<div class="portrait">
						<div class="rowOf"><img src="../images/portrait/yt.jpg"></div>
						<img src="../images/portrait/yt-flip.jpg">
						<h1> Yen Ting </h1>
						<p> Alumni Director </p>
					</div>
				</div>
				<div id="infOf2">A problem has occured</div>
			</div>

			
			<div class="row-container">
				<div>
					<h1 class="title"> MEET OUR JUNIOR OFFICERS </h1>
				</div>
				<div class="row three">
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/cl.jpg"></div>
				   		<img src="../images/portrait/cl-flip.jpg">
				   		<h1> Cynthia Lin </h1>
				   		<p> Internal JO </p>
				   	</div>
				    <div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/twh.jpg"></div>
				   		<img src="../images/portrait/twh-flip.jpg">
				   		<h1> Ting-Wei Hsu </h1>
				   		<p> Internal JO </p>
				   	</div>
				   <div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/mt.jpg"></div>
				   		<img src="../images/portrait/mt-flip.jpg">
				   		<h1> Max Tang </h1>
				   		<p> Internal JO </p>
				   	</div>
				</div>

				<div id="infJO0">A problem has occured</div>

				<div class="row four">
				     <div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/dm.jpg"></div>
				   		<img src="../images/portrait/dm-flip.jpg">
				   		<h1> Darren Mao </h1>
				   		<p> External JO </p>
				   	</div>
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/qs.jpg"></div>
				   		<img src="../images/portrait/qs-flip.jpg">
				   		<h1> CJ Shen </h1>
				   		<p> External JO </p>
				   	</div>
				    <div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/tw.jpg"></div>
				   		<img src="../images/portrait/tw-flip.jpg">
				   		<h1> Tina Wang </h1>
				   		<p> External JO </p>
				   	</div>
				   	<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/hc.jpg"></div>
				   		<img src="../images/portrait/hc-flip.jpg">
				   		<h1> Hiro Chang </h1>
				   		<p> Special Events JO </p>
				   	</div>
				</div>

				<div id="infJO1">A problem has occured</div>

				<div class="row three">
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/jt.jpg"></div>
				   		<img src="../images/portrait/jt-flip.jpg">
				   		<h1> Jannery Tam </h1>
				   		<p> Special Events JO </p>
				   	</div>
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/jc.jpg"></div>
				   		<img src="../images/portrait/jc-flip.jpg">
				   		<h1> Jason Chih </h1>
				   		<p> Finance JO </p>
				   	</div>
				   	<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/va.jpg"></div>
				   		<img src="../images/portrait/va-flip.jpg">
				   		<h1> Vanessa Alexandra </h1>
				   		<p> Philanthropy JO </p>
				   	</div>
				</div>

				<div id="infJO2">A problem has occured</div>

				<div class="row four">
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/ali.jpg"></div>
				   		<img src="../images/portrait/ali-flip.jpg">
				   		<h1> Angela Liu </h1>
				   		<p> Philanthropy JO </p>
				   	</div>
				 	<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/sw.jpg"></div>
				   		<img src="../images/portrait/sw-flip.jpg">
				   		<h1> Sara Wong </h1>
				   		<p> Marketing JO </p>
				   	</div>
				   	<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/ix.jpg"></div>
				   		<img src="../images/portrait/ix-flip.jpg">
				   		<h1> Iris Xu </h1>
				   		<p> Finance JO </p>
				   	</div>
				   	<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/dx.jpg"></div>
				   		<img src="../images/portrait/dx-flip.jpg">
				   		<h1> Duo Xu </h1>
				   		<p> Marketing JO </p>
				   	 </div>
				</div>

				<div id="infJO3">A problem has occured</div>

				<div class="row three">
					 <div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/sc.jpg"></div>
				   		<img src="../images/portrait/sc-flip.jpg">
				   		<h1> Sara Chen </h1>
				   		<p> Media JO </p>
				   	</div>
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/ly.jpg"></div>
				   		<img src="../images/portrait/ly-flip.jpg">
				   		<h1> Leslie Yeh </h1>
				   		<p> Media JO </p>
				   	</div>
				   	<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/bs.jpg"></div>
				   		<img src="../images/portrait/bs-flip.jpg">
				   		<h1> Brandon Shang </h1>
				   		<p> Web JO </p>
				   	</div>
				</div>

				<div id="infJO4">A problem has occured</div>

				<div class = "row four">
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/ls.jpg"></div>
				   		<img src="../images/portrait/ls-flip.jpg">
				   		<h1> Leon Soong </h1>
				   		<p> Web JO </p>
				   	</div>
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/jk.jpg"></div>
				   		<img src="../images/portrait/jk-flip.jpg">
				   		<h1> Joyce Ku </h1>
				   		<p> Communications JO </p>
				   	</div>
					<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/ac.jpg"></div>
				   		<img src="../images/portrait/ac-flip.jpg">
				   		<h1> Alan Cooper </h1>
				   		<p> Communications JO </p>
				   	</div>
				   	<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/jl.jpg"></div>
				   		<img src="../images/portrait/jl-flip.jpg">
				   		<h1> Justin Liang </h1>
				   		<p> Athletics JO </p>
				   	</div>
				</div>

				<div id="infJO5">A problem has occured</div>

				<div class = "row three">
				    <div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/wl.jpg"></div>
				   		<img src="../images/portrait/wl-flip.jpg">
				   		<h1> Wescott Lu </h1>
				   		<p> Athletics JO </p>
				   	</div>
				    <div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/rn.jpg"></div>
				   		<img src="../images/portrait/rn-flip.jpg">
				   		<h1> Rebecca Nguyen </h1>
				   		<p> Alumni JO </p>
				   	</div>
				   	<div class="portrait">
				   		<div class="rowJO"><img src="../images/portrait/el.jpg"></div>
				   		<img src="../images/portrait/el-flip.jpg">
				   		<h1> Emma Liang </h1>
				   		<p> Alumini JO </p>
				   	</div>
				</div>

				<div id="infJO6">A problem has occured</div>


			</div>

			

			<div class="highlight-container">
				<div id="trigger1"></div>

				<div id="slide1a" class="imLeft"><img src="../images/hero/21.jpg"></div>
				<div id="slide1b" div class="overlay left">
					<div class="overlay-text">
						<span class="white">Make lifelong <a href="../views/about.html"><span class="highlight">friends.</span></a></span>
					</div>
					<div class="triangle"></div>
				</div>
	


				<div><br></div>

				<div id="trigger2"></div>
				<div id="slide2a" class="imRight"><img src="..//images/hero/24.jpg"></div>
				<div id="slide2b" class="overlay right">
					<div class="overlay-text">
						<span class="white">Cook delicious <a href="../views/food.html"><span class="highlight">food.</span></a></span>
					</div>
					<div class="triangle"></div>
				</div>

				<div><br></div>

				<div id="trigger3"></div>
				<div id="slide3a" class="imLeft"><img src="../images/hero/30.jpg"></div>
				<div id="slide3b" class="overlay left">
					<div class="overlay-text">
						<span class="white">Experience <a href="../views/events.html"><span class="highlight">Taiwanse culture.</span></a></span>
					</div>
					<div class="triangle"></div>
				</div>

				<div><br></div>

				<div id="trigger4"></div>
				<div id="slide4a" class="imRight"><img src="../images/hero/27.jpg"></div>
				<div id="slide4b" class="overlay right">
					<div class="overlay-text">
						<span class="white">Join our <a href="../views/family.html"><span class="highlight">family!</span></a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<div><br></div>
			</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
	<script src = "../js/jquery-2.1.4.js"></script>
	<script src="../js/ScrollMagic.js"></script>
	<script src = "../js/TweenMax.min.js"></script>
	<script src="../js/animation.gsap.js"></script>

	<script>
	//Begin ScrollMagic Stuff
	var controller = new ScrollMagic.Controller();
	//trigger1
	var scene1 = new ScrollMagic.Scene({ triggerElement: "#trigger1"})
	.setTween("#slide1a", 1, {x:75, opacity:1})
	.addTo(controller);

	var scene1 = new ScrollMagic.Scene({triggerElement:"#trigger1"})
	.setTween("#slide1b",1,{x:-75, opacity:1})
	.addTo(controller);

	//trigger2
	var scene2 = new ScrollMagic.Scene({ triggerElement: "#trigger2"})
	.setTween("#slide2a", 1, {x:-75, opacity:1})
	.addTo(controller);

	var scene2 = new ScrollMagic.Scene({triggerElement:"#trigger2"})
	.setTween("#slide2b",1,{x:75, opacity:1})
	.addTo(controller);

	//trigger3
	var scene3 = new ScrollMagic.Scene({ triggerElement: "#trigger3"})
	.setTween("#slide3a", 1, {x:75, opacity:1})
	.addTo(controller);

	var scene3 = new ScrollMagic.Scene({triggerElement:"#trigger3"})
	.setTween("#slide3b",1,{x:-75, opacity:1})
	.addTo(controller);

	//trigger4
	var scene4 = new ScrollMagic.Scene({ triggerElement: "#trigger4"})
	.setTween("#slide4a", 1, {x:-75, opacity:1})
	.addTo(controller);

	var scene4 = new ScrollMagic.Scene({triggerElement:"#trigger4"})
	.setTween("#slide4b",1,{x:75, opacity:1})
	.addTo(controller);

	//End Scroll Magic Stuff


	$(document).ready(function(){


		var temp = '';
		var onRow='';
		var cRow='';
		var onInf='';
		var cInf='';
		var picnum = '';
		var onName='';
		var cName ='';
		var infoOfficer='Blank';
		var picsrc = '';
		

		


		function otherUP(){
			if(cRow==onRow && onName==cName){
				$(onInf).slideUp("slow");
				onRow='';
			}
			else if(cRow==onRow && onName!=cName){
				onName=cName;
			}
			else{
				$(onInf).slideUp("slow");
				onRow = cRow;
				onInf = cInf;
				onName=cName;
				$(cInf).delay(400).slideDown("slow");
			};				
		};

		var OInf = "#infOf";
		var ORow = ".rowOf";
		var fixer = 0;//used to fix the index / tell which row on
		$(".rowOf").click(function(){
				fixer = $(this.parentNode.parentNode).index();
				fixIndex();
				cInf= OInf + fixer;
				cRow= ORow + fixer;
				picsrc = document.getElementsByClassName("rowOf");
				picnum = $(this.parentNode).index();
				setOfIndex();
				setName();
				otherUP();
			});

		var JOInf = "#infJO";
		var JORow = ".rowJO";

		$(".rowJO").click(function(){
				fixer = $(this.parentNode.parentNode).index();
				fixIndex();
				cInf= JOInf + fixer;
				cRow= JORow + fixer;
				picsrc = document.getElementsByClassName("rowJO");
				picnum = $(this.parentNode).index();
				setJOIndex();
				setName();
				otherUP();
			});

			var OfArray = new Array(3, 4, 3);//denotes the pictures per row
			function setOfIndex(){
				for(var i=0;i<fixer;i++){
					picnum+=OfArray[i];
				}
			};

			var JOArray = new Array(3,4,3,4,3,4,3);//denotes the pictures per row
			function setJOIndex(){
				for(var i =0; i<fixer;i++)
					picnum+=JOArray[i];
			};

			function fixIndex(){//accounts for other div elements in indexing
				fixer = Math.floor(fixer/2);//assumes a specific format of picture container->info->picture container, etc.
			};


			function setName(){
				var holder = cInf.substring(1);//removes the # or . (I can't remember)
				temp = document.getElementById(holder);
				cName = $(picsrc[picnum]).find('img').attr('src');
				cName = cName.replace(".jpg", "");
				cName = cName.replace("../images/portrait/", "");//isolates the initials/designation
				setInfo();
				temp.innerHTML = infoOfficer;
			};

			function setInfo(){
					//Officers
					//row 0
					if(cName=='cw'){		//Christine Wang
						infoOfficer= "I'm allergic to metal, including those placed in the water system" + "<br />" +
						"I had a fro that made me look like a boy "+ "<br />" +
						"Eye doctors still think I'm going to go blind ";
					}
					else if(cName=='vc'){	//Valentina Chen
						infoOfficer= "I've danced for 13 years." + "<br />" +
						"I've auditioned for America's Got Talent."+ "<br />" +
						"Country music is the best genre.";
					}
					else if(cName=='ml'){	//Mimi Lie
						infoOfficer= "I have four succulents. Their names are Wasabi, Mustard, Ginger, and Giraffe." + "<br />" + 
						"I like to read books and smell books.";
					}
					//row 1
					else if(cName=='jz'){	//Jane Zeng
						infoOfficer= "I have attended almost 80 music concerts in the past three years." + "<br />" +
						"I am currently level 863 on Candy Crush." + "<br />" +
						"";
					}
					else if(cName=='sz'){	//Sally Zhang	no info given
						infoOfficer= "I have antennas underneath my hair." + "<br />" +
						"My third uncle's best friend's mother in law was a gladiator in ancient Rome circa 200 AD." + "<br />" +
						"I have a pet unicorn named Peter.";
					}
					else if(cName=='ic'){	//Isabella Chen
						infoOfficer= "I know how to remove a mouse\'s brain in under two minutes, unscathed."+"<br />" +
						"I have moved 8 times in my life between cities in Texas and Massachusetts." + "<br />" +
						"I have never been to a country in the southern hemisphere";
					}
					else if(cName=='lc'){	//Lisa Chung
						infoOfficer= "I ❤ Hello Kitty" + "<br />" + 
						"I work at Tap House." + "<br />" + 
						"I have over 1k Tinderfellas.";
					}
					//row 2
					else if(cName=='am'){	//Alan Ma
						infoOfficer= "I can fold an origami dragon in 30 minutes!" + "<br />" +
						"I've lived in 3 different countries!" +"<br />"+
						"This is my third year with TASA <33333";
					}
					else if(cName=='mg'){	//Mario Green	no info given
						infoOfficer= "My max squat is two tons. Get on my level." + "<br />" +
						"My middle name is Harold Ronald Oliver Marcus the third, Esquire." + "<br />" +
						"I'm actually part Martian.";
					}
					else if(cName=='yt'){	//Yen Ting
						infoOfficer= "I like popcorn and gummy bears" + "<br />" +
						"My mom awarded me with a steak dinner the first night I learned to wash my hair under the shower after locking me in the bathroom for 2 hours" + "<br />" + 
						"I broke my left wrist in elementary school, but my mom thought it was just a sprain and delayed taking me to the hospital for 6 hours";
					}
					//Starting JO's
					//row 0
					else if(cName=='cl'){	//Cynthia Lin
						infoOfficer= "I can row a mile in under 7 minutes. (It's all in the legs!)" + "<br />" +
						"I like to collect my own name tags from conferences and other events. (I have a folder full of them!)" + "<br />" +
						"I can roll my tongue into the shape of a 3-leaf clover.";
					}
					else if(cName=='twh'){	//Ting-Wei Hsu	no info given
						infoOfficer= "sdrawkcab gnihtyreve etirw ot ekil I" + "<br />" +
						"!daer ot drah gnihtyreve sekam dna nuf yllaer s'tI" + "<br />" +
						"taco cat";
					}
					else if(cName=='mt'){	//Max Tang
						infoOfficer= "April Fools' is my favorite holiday." + "<br />" +
						"I'm very bad about impulse buys. I have many many random useless things, like a monkey costume. " + "<br />" +
						"Even though I'm studying Electrical Engineering, I can't code to save my life. ";
					}
					else if(cName=='dm'){	//Darren Mao 	no info given
						infoOfficer= "There are twelve little dwarves I always carry around in my pockets. Don't ask about them." + "<br />" +
						"I hid in the bathroom of the Metropolitan Museum of Art with my younger brother Jamie Kincaid after running away from home." + "<br />" +
						"We researched an angel.";
					}
					//row 1
					else if(cName=='qs'){	//CJ Shen
						infoOfficer= "I like Eunji. Like A LOT. Like I'm not even ashamed about how much I like her. APINK FIGHTINGG!! " + "<br />" +
						"I wrote my Microeconomics essay about Eunji.( ͡° ͜ʖ ͡°) No shame. I didn't get a 100 though :c. " + "<br />" +
						"";
					}
					else if(cName=='tw'){	//Tina Wang
						infoOfficer= "Love the smell of money" + "<br />"+
						"Cinnamon is ew" + "<br />" +
						"I want to live in sophisticated cities";
					}
					else if(cName=='hc'){	//Hiro Chang	no info
						infoOfficer = "Blank Stare :|"+"<br />"+
						"Deep breathing O_O"+"<br />"+
						"Hello ( ͡° ͜ʖ ͡°)"
					}
					//row 2
					else if(cName=='al'){	//Angel Lo
						infoOfficer= "I was born with a small piece of my ear lobe missing. (but there's no harmful effect)" + "<br />" +
						"I love eating durian, especially when they\'re frozen(kind of like ice cream)" + "<br />" +
						"I\'m addicted to lipstick and name shoes.";
					}
					else if(cName=='jt'){	//Jannery Tam
						infoOfficer= "I was born on the 7th of November weighing 7 lbs 7.7 oz" + "<br />" +
						"I have a collection of over 40 different nail polishes" + "<br />" +
						"I get woozy at the sight of blood";
					}
					else if(cName=='jc'){	//Jason Chih	no info
						infoOfficer = "I support the winning team." + "<br />" +
						"I can juggle chainsaws while blindfolded backwards." + "<br />" +
						"I own half the shares at Google.";
					}
					else if(cName=='ix'){	//Iris Xu		no info
						infoOfficer = "I'm addicted to jack in the boxes." + "<br />" +
						"I own the license to a tortoise in the Fort Worth Zoo." + "<br />" +
						"I only use 16 ply toilet paper.";
					}
					//row 3
					else if(cName=='va'){	//Vanessa Alexandra
						infoOfficer = "My first language was Indonesian." + "<br />" +
						"I've played the piano for about 14 years and the violin for 8 years. " + "<br />" +
						"I love sushi <3 ";
					}
					else if(cName=='ali'){	//Angela Liu
						infoOfficer = "I have a black toenail from playing basketball last summer. Apparently toenails heal at the slowest speeds ever because right now it is still half black!"+"<br />"+
						"I like to collect state quarters. I have every state except Alaska!"+"<br />"+
						"I love making and eating food. My favorite things to make are Taiwanese pudding and mooncakes!"
					}
					else if(cName=='sw'){	//Sara Wong
						infoOfficer = "I love anime and manga." + "<br />" +
						"I have colorful hair." + "<br />" +
						"I do not have a dog named Charlie.";
					}
					//row 4
					else if(cName=="dx"){	//Duo Xu
						infoOfficer = "I won the Congressional Art Award twice ヾ(@゜▽゜@)ノ" + "<br />" + 
						"I have hyperextended knees (◍•ᴗ•◍)" + "<br />"+ 
						"I have a tiny left thumb ｡ﾟ(´つω･`｡)ﾟ｡";
					}
					else if(cName=='sc'){	//Sara Chen
						infoOfficer = "I like horror movies and creepy cute things." + "<br />" + 
						"I used to be a competitive figure skater." + "<br />"+ 
						"I'm always injured but I can never figure out where all my bruises/scars come from.";
					}
					else if(cName=='ly'){	//Leslie Yeh
						infoOfficer = "I met Heidi Klum In the restroom." + "<br />" +
						"My favorite exotic creature is the elephant" + "<br />" +
						"I absolutely hate cilantro.";
					}
					else if(cName=='bs'){	//Branon Shang
						infoOfficer = 
						"My middle name sounds like a cannon firing." + "<br />" +
						"I freaked out so much after watching the movie Knowing that my parents took me to the hospital." + "<br />"+ 
						"I\'ve yet to break a bone (and hopefully won't anytime soon).";
					}	
					//row 5
					else if(cName=='ls'){	//Leon Soong	no info given
						infoOfficer= "There's a small corner of my closet dedicated to the Ghengis Khan." + "<br />" +
						"I once tried to parachute my hamster." + "<br />" +
						"I circumnavigated the planet in less than 3 months with a Caucasian male as part of a bet.";
					}
					else if(cName=='jk'){	//Joyce Ku
						infoOfficer= "I enjoy fishing and camping."+"<br />" +
						"I like playing badminton and dodge-ball with family." + "<br />" + 
						"I like listening to Bruno Mars.";
					}
					else if(cName=='ac'){	//Alan Cooper
						infoOfficer = "As of February 21, 2016, I've wasted 56.7 days of my life playing League of Legends."+"<br />"+
						"Ask me to jump over my own foot sometime."+"<br />"+
						"I've played piano for 15 years, violin for 8 years."
					}
					//row 6
					else if(cName=='jl'){	//Justin Liang	no info given
						infoOfficer= "ඇයි ඔබ මේ පරිවර්තනය කළේ නැහැ." + "<br />" +
						"කවුද ඒ කරන්නේ කෙසේද?" + "<br />" +
						"මෙම ඔබ සොයන Droid ගේ නොවේ.";
					}
					else if(cName=='wl'){	//Wescott Lu
						infoOfficer= "My body fat percentage based on a skinfold test is 10%" +"<br />"+
						"I am a survivor of Leukemia" + "<br />"+
						"I am a clutch 3 point specialist (I like basketball)";
					}
					else if(cName=='rn'){	//Rebecca Nguyen	no info
						infoOfficer = "My father was an eskimo, and my mom was a penguin. Awkward story."+"<br />"+
						"I am commander of the PlAtInUm PlAtOoN of KiTor."+"<br />"+
						"I hold the world record for most time spent not spending time."
					}
					else if(cName=='el'){	//Emma Liang
						infoOfficer = "I can play League for 8+ hours nonstop, and my favorite summoner is Wu Kong :3 "+"<br />"+
						"I know how to make sushi and many other oriental food, so if you need someone to treat you right, you know who to talk to ;) "+"<br />"+
						""
					}
					else{infoOfficer = "No info right now";}
				}
			});
</script>
<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done")
	}
</script>
</html>