<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | About</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
	<script type="text/javascript">
		var images = new Array()
		function preload() {
			for (i = 0; i < preload.arguments.length; i++) {
				images[i] = new Image()
				images[i].src = preload.arguments[i]
			}
		}
		preload(
			"../images/portrait/cw-flip.jpg",
			"../images/portrait/vc-flip.jpg",
			"../images/portrait/ml-flip.jpg",
			"../images/portrait/sz-flip.jpg",
			"../images/portrait/ic-flip.jpg",
			"../images/portrait/lc-flip.jpg",
			"../images/portrait/yt-flip.jpg",
			"../images/portrait/tt-flip.jpg",
			"../images/portrait/am-flip.jpg",
			"../images/portrait/sn-flip.jpg",
			"../images/portrait/mg-flip.jpg"
			)
	</script> 
</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="current-nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix about load" id="main-container">
			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						The<span class="highlight"><a href="../views/events.html"> events </a></span> are super cool.
						<br>
						The<span class="highlight"><a href="../views/about.html"> people </a></span> are even better!
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/12.jpg" alt="">
			</div>

			<div class="officer-container">
				<div class="table clearfix">
					<div class="col-25">
						<img src="../images/portrait/mg.jpg" onClick="updateBox('mg', this)">
						<img src="../images/portrait/sn.jpg" onClick="updateBox('sn', this)" >
						<img src="../images/portrait/am.jpg" onClick="updateBox('am', this)" >
						<img src="../images/portrait/yt.jpg" onClick="updateBox('yt', this)" >
					</div>
					<div class="col-50">
						<div class="col-50">
							<img src="../images/portrait/cw.jpg" onClick="updateBox('cw', this)" >
						</div>
						<div class="col-50">
							<img src="../images/portrait/vc.jpg" onClick="updateBox('vc', this)" >
						</div>
						<div id="box" class="center-box">
							<br>
							<p class="white">♥</p>
							<h2 class="big-font highlight">Taiwanse <span class="white">American</span><br>Students <span class="white">Association</span></h2>
							<p class="highlight">♥</p>
							<p> click portraits to learn more </p>
						</div>
						<div class="col-50">
							<img src="../images/portrait/tt.jpg" onClick="updateBox('tt', this)" >
						</div>
						<div class="col-50">
							<img src="../images/portrait/lc.jpg" onClick="updateBox('lc', this)" >
						</div>
					</div>
					<div class="col-25">
						<img src="../images/portrait/ml.jpg" onClick="updateBox('ml', this)" >
						<img src="../images/portrait/sz.jpg" onClick="updateBox('sz', this)" >
						<img src="../images/portrait/jz.jpg" onClick="updateBox('jz', this)" >
						<img src="../images/portrait/ic.jpg" onClick="updateBox('ic', this)" >
					</div>
				</div>
			</div>
			<div class="row-container">
				<div>
					<h1 class="title"> MEET OUR <span class="highlight">JUNIOR OFFICERS</span> </h1>
				</div>
				<div class="row">
					<div class="portrait">
				   		<img src="../images/portrait/cl.jpg">
				   		<img src="../images/portrait/cl-flip.jpg">
				   		<h1> Cynthia Lin </h1>
				   		<p> Internal JO </p>
				   	</div>
				    <div class="portrait">
				   		<img src="../images/portrait/twh.jpg">
				   		<img src="../images/portrait/twh-flip.jpg">
				   		<h1> Ting-Wei Hsu </h1>
				   		<p> Internal JO </p>
				   	</div>
				   <div class="portrait">
				   		<img src="../images/portrait/mt.jpg">
				   		<img src="../images/portrait/mt-flip.jpg">
				   		<h1> Max Tang </h1>
				   		<p> Internal JO </p>
				   	</div>
				     <div class="portrait">
				   		<img src="../images/portrait/dm.jpg">
				   		<img src="../images/portrait/dm-flip.jpg">
				   		<h1> Darren Mao </h1>
				   		<p> External JO </p>
				   	</div>
				   	<div class="portrait">
				   		<img src="../images/portrait/qs.jpg">
				   		<img src="../images/portrait/qs-flip.jpg">
				   		<h1> CJ Shen </h1>
				   		<p> External JO </p>
				   	</div>
				</div>
				<div class="row four">
				    <div class="portrait">
				   		<img src="../images/portrait/tw.jpg">
				   		<img src="../images/portrait/tw-flip.jpg">
				   		<h1> Tina Wang </h1>
				   		<p> External JO </p>
				   	</div>
 					<div class="portrait">
				   		<img src="../images/portrait/ch.jpg">
				   		<img src="../images/portrait/ch-flip.jpg">
				   		<h1> Carol Huang </h1>
				   		<p> Special Events JO </p>
				   	</div>
				     <div class="portrait">
				   		<img src="../images/portrait/al.jpg">
				   		<img src="../images/portrait/al-flip.jpg">
				   		<h1> Angel Lo </h1>
				   		<p> Special Events JO </p>
				   	</div>
				   	<div class="portrait">
				   		<img src="../images/portrait/jt.jpg">
				   		<img src="../images/portrait/jt-flip.jpg">
				   		<h1> Jannery Tam </h1>
				   		<p> Special Events JO </p>
				   	</div>
				</div>
				<div class="row">
					<div class="portrait">
				   		<img src="../images/portrait/jc.jpg">
				   		<img src="../images/portrait/jc-flip.jpg">
				   		<h1> Jason Chih </h1>
				   		<p> Finance JO </p>
				   	</div>
				    <div class="portrait">
				   		<img src="../images/portrait/ix.jpg">
				   		<img src="../images/portrait/ix-flip.jpg">
				   		<h1> Iris Xu </h1>
				   		<p> Finance JO </p>
				   	</div>
				   <div class="portrait">
				   		<img src="../images/portrait/va.jpg">
				   		<img src="../images/portrait/va-flip.jpg">
				   		<h1> Vanessa Alexandra </h1>
				   		<p> Philanthropy JO </p>
				   	</div>
				     <div class="portrait">
				   		<img src="../images/portrait/lt.jpg">
				   		<img src="../images/portrait/lt-flip.jpg">
				   		<h1> Lydia Tsao </h1>
				   		<p> Philanthropy JO </p>
				   	</div>
				   	<div class="portrait">
				   		<img src="../images/portrait/sw.jpg">
				   		<img src="../images/portrait/sw-flip.jpg">
				   		<h1> Sara Wong </h1>
				   		<p> Marketing JO </p>
				   	</div>
				</div>
				<div class="row four">
				    <div class="portrait">
				   		<img src="../images/portrait/x.jpg">
				   		<img src="../images/portrait/x.jpg">
				   		<h1> Duo Xu </h1>
				   		<p> Marketing JO </p>
				   	</div>
 					<div class="portrait">
				   		<img src="../images/portrait/sc.jpg">
				   		<img src="../images/portrait/sc-flip.jpg">
				   		<h1> Sara Chen </h1>
				   		<p> Media JO </p>
				   	</div>
				     <div class="portrait">
				   		<img src="../images/portrait/ly.jpg">
				   		<img src="../images/portrait/ly-flip.jpg">
				   		<h1> Leslie Yeh </h1>
				   		<p> Media JO </p>
				   	</div>
				   	<div class="portrait">
				   		<img src="../images/portrait/bs.jpg">
				   		<img src="../images/portrait/bs-flip.jpg">
				   		<h1> Brandon Shang </h1>
				   		<p> Web JO </p>
				   	</div>
				</div>
				<div class="row">
					<div class="portrait">
				   		<img src="../images/portrait/ls.jpg">
				   		<img src="../images/portrait/ls-flip.jpg">
				   		<h1> Leon Soong </h1>
				   		<p> Web JO </p>
				   	</div>
				    <div class="portrait">
				   		<img src="../images/portrait/jk.jpg">
				   		<img src="../images/portrait/jk-flip.jpg">
				   		<h1> Joyce Ku </h1>
				   		<p> Communications JO </p>
				   	</div>
				   <div class="portrait">
				   		<img src="../images/portrait/jl.jpg">
				   		<img src="../images/portrait/jl-flip.jpg">
				   		<h1> Justin Liang </h1>
				   		<p> Athletics JO </p>
				   	</div>
				     <div class="portrait">
				   		<img src="../images/portrait/wl.jpg">
				   		<img src="../images/portrait/wl-flip.jpg">
				   		<h1> Wescott Lu </h1>
				   		<p> Athletics JO </p>
				   	</div>
				   	<div class="portrait">
				   		<img src="../images/portrait/ayl.jpg">
				   		<img src="../images/portrait/ayl-flip.jpg">
				   		<h1> Amy Liang </h1>
				   		<p> Alumni JO </p>
				   	</div>
				</div>
			</div>

			<div class="highlight-container">
				<div class="overlay left">
					<div class="overlay-text">
						<span class="white">Make lifelong <a href="../views/about.html"><span class="highlight">friends.</span></a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/14.jpg">

				<div><br></div>

				<div class="overlay right">
					<div class="overlay-text">
						<span class="white">Cook delicious <a href="../views/food.html"><span class="highlight">food.</span></a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<img src="..//images/hero/15.jpg">

				<div><br></div>

				<div class="overlay left">
					<div class="overlay-text">
						<span class="white">Experience <a href="../views/events.html"><span class="highlight">Taiwanse culture.</span></a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/2.jpg">

				<div><br></div>

				<div class="overlay right">
					<div class="overlay-text">
						<span class="white">Join our <a href="../views/family.html"><span class="highlight">family!</span></a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/4.jpg">

				<div><br></div>
			</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done")
	}
</script>
<script type="text/javascript">
	function updateBox(name, profile){
		var box = document.getElementById("box")
		var content = '<h2 class="highlight">Meet our<br>Officers</h2><p class="white">The brave souls, who dared to venture in the dark forest and survived, took on the delegations of officer ranks. What that entails, they do not know. But they are the peacekeepers and the heroes of our land.</p><p class="highlight">♥</p>'
		var index = profile.src.indexOf("-flip");
		var source = (index+1) ? profile.src.replace("-flip", "") : "../images/portrait/" + name + "-flip.jpg";
		
		if(name=="cw"){
			content ='<h2 class="highlight">Christine Wang</h2>'+
			'<h3 class="lowlight">President</h3>'+
			'<p class="white">A mountain that towered over the sky vanished in a slice. The villagers only saw faint shadows of the veiled swordsmaster and her eleven guardian officers. They named her Mountain Splitter, champion of TASA.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">tasa.president@gmail.com</h3>'
		}else if(name=="vc"){
			content ='<h2 class="highlight">Valentina Chen</h2>'+
			'<h3 class="lowlight">VP Internal</h3>'+
			'<p class="white">The Moving Tower and the Argent Protector. She serves to keep peace between the guardian council.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">tasa.internal@gmail.com</h3>'
		}else if(name=="ml"){
			content ='<h2 class="highlight">Mimi Lie</h2>'+
			'<h3 class="lowlight">VP External</h3>'+
			'<p class="white">When her efforts in rebuilding the city of TASA reached the ears of the Mountain Splitter, she titled her the Immortal Builder, a woman of fortitude.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">tasa.external@gmail.com</h3>'
		}else if(name=="sz"){
			content ='<h2 class="highlight">Sally Zhang</h2>'+
			'<h3 class="lowlight">Finance Director</h3>'+
			'<p class="white">Have you ever heard the tales of a woman who possesses a million stars? Of course you have, who has\'t! The Ivory Maiden, through her savvy negotiation skills, owns all.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">finance.tasa@gmail.com</h3>'
		}else if(name=="jz"){
			content ='<h2 class="highlight">Jane Zeng</h2>'+
			'<h3 class="lowlight">Special Events Director</h3>'+
			'<p class="white">In charge of the festivities, Lady Zeng gathers the crowd for big feasts and celebrations. Her knack for party planning surpasses any jester.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">tasa.events@gmail.com</h3>'
		}else if(name=="ic"){
			content ='<h2 class="highlight">Isabella Chen</h2>'+
			'<h3 class="lowlight">Marketing Director</h3>'+
			'<p class="white">The reason why there is not a soul who doesn\'t know of the eleven guardian officers and their leader, Mountain Splitter, can be credited to the Siren. Her charisma and alluring voice are both irresistible.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">uttasa.marketing@gmail.com</h3>'
		}else if(name=="lc"){
			content ='<h2 class="highlight">Lisa Chung</h2>'+
			'<h3 class="lowlight">Communication Director</h3>'+
			'<p class="white">Also known as Iris, her telepathy skills keep the guadians and the townspeople of TASA updated with recent crimes and local festivities.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">ut.tasa@gmail.com</h3>'
		}else if(name=="tt"){
			content ='<h2 class="highlight">Tiffany Tso</h2>'+
			'<h3 class="lowlight">Philanthropy Director</h3>'+
			'<p class="white">Whenever or wherever you hear a shriek or a cry of distress, the Caregiver will be there to help.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">philanthropy.tasa@gmail.com</h3>'
		}else if(name=="yt"){
			content ='<h2 class="highlight">Yen Ting</h2>'+
			'<h3 class="lowlight">Alumni Director</h3>'+
			'<p class="white">The Bridge connects the hall of honor, where the retired guardians live, within the town of TASA.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">alumni.tasa@gmail.com</h3>'
		}else if(name=="am"){
			content ='<h2 class="highlight">Alan Ma</h2>'+
			'<h3 class="lowlight">Web Director</h3>'+
			'<p class="white">The Librarian stores all activities within the archieve. Ask him anything!</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">alanma0907@utexas.edu</h3>'
		}else if(name=="sn"){
			content ='<h2 class="highlight">Sharat Nayak</h2>'+
			'<h3 class="lowlight">Media Director</h3>'+
			'<p class="white">Through his magical lens, the Recorder captures all moments from derp to awesome.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">uttasa.media@gmail.com</h3>'
		}else if(name=="mg"){
			content ='<h2 class="highlight">Mario Green</h2>'+
			'<h3 class="lowlight">Athletic Director</h3>'+
			'<p class="white">Light as a feather, he moves with grace. Swift as water, he dodges all enemies. He is Nightwing, the elusive shadow.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">sports.tasa@gmail.com</h3>'
		}

		if(name != "default"){
			box.innerHTML = content;
		}
		profile.src= source;
	}

// On "About" page, Mario's info needs "he" capitalized.
//  For me and Isabella, we have 11 officers, not 10.

//   Valentina's info should be changed from "he" to "she".

//    For you, you have a period after an exclamation point.

//     Is Sharat supposed to have the marketing email?

//      I thought it was supposed to me with media too gasp emoticon do we not have a alumni email for Yen? o.o


	function updateJO(name, profile){
		var box = document.getElementById("JObox")
		var content = '<h2 class="highlight">Meet our<br>Officers</h2><p class="white">The brave souls, who dared to venture in the dark forest and survived, took on the delegations of officer ranks. What that entails, they do not know. But they are the peacekeepers and the heroes of our land.</p><p class="highlight">♥</p>'
		var source = profile.src.replace("-flip", "");
		console.log(source)

		if(name=="cw"){
			content ='<h2 class="highlight">Christine Wang</h2>'+
			'<h3 class="lowlight">President</h3>'+
			'<p class="white">A mountain that towered over the sky vanished in a slice. The villagers only saw faint shadows of the veiled swordsmaster and her ten guardian officers. They named her Mountain Splitter, champion of TASA.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">tasa.president@gmail.com</h3>'
		}else if(name=="vc"){
			content ='<h2 class="highlight">Valentina Chen</h2>'+
			'<h3 class="lowlight">VP Internal</h3>'+
			'<p class="white">The Moving Tower and the Argent Protector. He serves to keep peace between the guardian council.</p>'+
			'<p class="highlight">♥</p>'+
			'<h3 class="white">tasa.internal@gmail.com</h3>'
		}

		if(name != "default"){
			source = "../images/portrait/" + name + "-flip.jpg"
		}

		box.innerHTML = content;
		profile.src= source;
	}
</script>
</html>