<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Apply</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
</head>
<body>
	<div class="main-container" id="top">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix apply">

			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						Start <span class="highlight"><a href="../views/home.html">here,</a></span>
						<br>
						and be the <span class="highlight"><a href="../views/home.html">change.</a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/20.jpg" alt="">
			</div>

			<div class="position-container">
				<div class="table clearfix">
					<div class="col-30">
						<div class="position-list-item">
							<img src="../images/icon/gear.png">
							<p>Internal JO</p>
							<ul>
								<li>This semester, the JOs for VP-I be closely involved in the planning and logistics of TASA’s largest event, Night Market, in which we will be recreating the grand night markets of Taiwan with food, games and performances. </li>
								<li>If you are organized, motivated, have creative ideas and want to learn more about planning large-scale events, VP-I JO would be ideal.</li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY TODAY</a>
						</div>
						<div class="position-list-item">
							<img src="../images/icon/calendar.png">
							<p>Special Events JO</p>
							<ul>
								<li>As a Special Events JO, you will be helping with the planning of socials, GMs, icebreakers, retreats, and banquets.</li>
								<li>Creative and fun ideas are ideal for this position as we will be making sure TASA members have fun.</li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY TODAY</a>
						</div>
						<div class="position-list-item">
							<img src="../images/icon/support.png">
							<p>Philanthropy JO</p>
							<ul>
								<li>JOs under Philanthropy will assist in finding and overseeing volunteer experiences for members. </li>
								<li>You will work with your officer to ensure TASA is contributing to the greater Austin community by organizing volunteer activities. </li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY NOW</a>
						</div>
					</div>
					<div class="col-30">
						<div class="position-list-item">
							<img src="../images/icon/heart.png">
							<p>External JO</p>
							<ul>
								<li>VP-E JOs will be communicating with other organizations regarding club parties, mixers and fundraisers.</li>
								<li>You will also be contacting businesses to promote TASA for benefit nights and fundraisers.</li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY NOW</a>
						</div>
						<div class="position-list-item">
							<img src="../images/icon/brightness.png">
							<p>Marketing JO</p>
							<ul>
								<li>JOs under Marketing will be involved in designing promotional material such as fliers and designing t-shirts for Night Market.</li>
								<li>You will also be seeing to it that TASA events are being promoted through various sources of multimedia. </li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY NOW</a>
						</div>
						<div class="position-list-item">
							<img src="../images/icon/computer.png">
							<p>Web JO</p>
							<ul>
								<li>JOs under Web Director will be involved in updating and maintaining the TASA website with event details.</li>
								<li>If you have some web experience or simply want to gain experience, this would be a good position for you!</li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY NOW</a>
						</div>
						<div class="position-list-item">
							<img src="../images/icon/camera.png">
							<p>Media JO</p>
							<ul>
								<li>Media JO's will help with taking pictures at events TASA hosts or participates in and posting them on social media.</li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY NOW</a>
						</div>
						<!--<div class="position-list-item">
							<img src="../images/icon/support.png">
							<p>Alumni JO</p>
							<ul>
								<li>As a JO under the Alumni Director you will be the liaison between those who have graduated UT and were involved in TASA, as well as those who are currently undergraduate students in TASA. </li>
								<li> You will help establish an alumni database and create social events in which alumni can partake in!</li>
							</ul>
							<a href="http://bit.ly/1N1snXq">APPLY NOW</a>
						</div>-->
					</div>
					<div class="col-30">
						<div class="position-list-item">
							<img src="../images/icon/money.png">
							<p>Finance JO</p>
							<ul>
								<li>Finance JOs will help manage the TASA budget and funds. You will also help keep track of event costs and decide what events are financially feasible. </li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY NOW</a>
						</div>
						<div class="position-list-item">
							<img src="../images/icon/chat.png">
							<p>Communication JO</p>
							<ul>
								<li>As a Communication JO, your main focus is to be a liaison between members of TASA and the officers when it comes to providing information about our events, meetings, and opportunities through our newsletter, Facebook, Twitter, and Instagram sites. </li>
								<li> If you are into organization, social media, and practicing communication techniques amongst a large group of members in our community, becoming a Communication Junior Officer is perfect for you!</li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY NOW</a>
						</div>
						<div class="position-list-item">
							<img src="../images/icon/trophy.png">
							<p>Athletic JO</p>
							<ul>
								<li>As a JO under the Athletic Director, you will be helping to sign up for IM sports and encouraging members to join the teams.</li>
								<li>You will also be asked to help plan sports-related events, such as the annual Sports Day.</li>
							</ul>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI6nk00SgiMAfxnT2SsMhobhIMU8zvxftsAHfSFfYLNf5CCQ/viewform">APPLY NOW</a>
						</div>
					</div>
				</div>
			</div>

		</div>
			<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>