<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Events</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
</head>
<body>
	<div class="main-container" id="top">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="current-nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix event load" id="main-container">
			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						Sometimes we make<span class="highlight"><a href="../views/food.html"> food! </a></span>
						<br>
						But we eat<span class="highlight"><a href="../views/family.html"> together </a></span> all the time!
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/22.jpg" alt="">
			</div>






			<ul class="tab">
				<li><a href="#" class="tablinks active" onclick="openEvents(event,'Yearly')">Yearly Events</a></li>
				<li><a href="#" class="tablinks" onclick="openEvents(event,'Special')">Special Events</a></li>
				<li><a href="#" class="tablinks" onclick="openEvents(event,'Interclub')">Interclub Events</a><li>
				<li><a href="#" class="tablinks" onclick="openEvents(event,'Volunteer')">Volunteer Events</a></li>
				<li><a href="#" class="tablinks" onclick="openEvents(event,'Fundraising')">Fundraising Events</a></li>
			</ul>

		<div class="event-container">
			<div id="Yearly" class="tabcontent single" style="display:block">
				<div class="overview-list-item clearfix">
					<img src="../images/preview/32.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/texas.tasa/photos/?tab=album&album_id=587675354704261&type=3">
							Mount Bonnell Picnic<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Back to stunning views</span>
						</a>
					</h2>
					<p class="subtext">
						Looking down from the mountain top was one of the most satisfying feeling after an exam, especially after eating some sandwiches made by our very own officers!
					</p>
				</div>
	
				<div class="overview-list-item clearfix">
					<img src="../images/preview/34.jpg">
					<h2 class="title">	
						<a href="https://www.facebook.com/texas.tasa/photos/?tab=album&album_id=596232917181838">
							Annual Night Market<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Starry nights and rainbow lights</span>
						</a>
					</h2>
					<p class="subtext">
						Green Onion Pancakes for days! Had my share of the GOP goodness and the sausage as well. Also the performances rocked and the games rolled.
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/36.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/texas.tasa/photos/?tab=album&album_id=653685104769952">
							Taste of Taiwan<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Taiwan in your backyard</span>
						</a>
					</h2>
					<p class="subtext">
						A trip to Taiwan without leaving the campus! Got to try some authentic food and games, and the marvelous performances of various talents were unforgettable. 
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/15.jpg">
					<h2 class="title">
						Zilker Kite Festival<br>
						<span class="small-font light highlight" style="letter-spacing: -1px;">Feels like I'm a kid again</span>
					</h2>
					<p class="subtext">
						Relive those days running down the street with the wind in your hair dragging a colorful kite behind you. There were so many fantastic kites, and all are welcome.
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/38.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/texas.tasa/photos/?tab=album&album_id=669332243205238">
							End of The Year Banquet<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Finish off the year with style</span>
						<a>
					</h2>
					<p class="subtext">
						What a magical night! Delicious food alongside all your friends. Tears were shed for graduating seniors and priceless memories. Look forward to another year with TASA with bigger and better events.
					</p>
				</div>	
			</div>




			<div id="Special" class="tabcontent single">
				<div class="overview-list-item clearfix">
					<img src="../images/preview/12.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/media/set/?set=a.495576753914122.1073741833.482829291855535&type=3">
							Board Game Night<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Betting milk tea and boba drinks</span>
						</a>
					</h2>
					<p class="subtext">
						Majong, King of Tokyo, Catan! Name your favourite board game and we got it. Make sure to bring your A game though, cause you don't want to lose them.
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/17.jpg">
					<h2 class="title">
						Lion Dance<br>
						<span class="small-font light highlight" style="letter-spacing: -1px;">Hear the mighty beast roar</span>
					</h2>
					<p class="subtext">
						Children and adults alike were entertained by the poetic dance of the noble lions and listened to the monks rhythmic chants. Thank you for volunteering everyone!
					</p>
				</div>


				<div class="overview-list-item clearfix">
					<img src="../images/preview/20.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/media/set/?set=a.499515063520291.1073741836.482829291855535&type=3">
							Tangyuan Night<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Gotta roll them all</span>
						</a>
					</h2>
					<p class="subtext">
						We made delicious balls that melted in our mouths while bringing a little culture back from Taiwan to Austin. Come enjoy a little bit of our culture next time!
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/24.jpg">
					<a href="https://www.facebook.com/media/set/?set=a.504443503027447.1073741841.482829291855535&type=3">
						<h2 class="title">
							Lantern Painting<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Light the way to better beginnings</span>
						</h2>
					</a>
					<p class="subtext">
						What nice lanterns everyone made. There was a Kirby one, all pink and cute. Don't forget the Nemo one, and the Jellyfish one. Happy Lanturn Festival guys!
					</p>
				</div>


				<div class="overview-list-item clearfix">
					<img src="../images/preview/10.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/media/set/?set=a.512334965571634.1073741844.482829291855535&type=3">
							Photo Scavanger Hunt<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Capturing those moments</span>
						</a>
					</h2>
					<p class="subtext">
						The objective was "Corniest group tourist picture in front of the tower" and I think we nailed that perfectly. You could totally imagine the guy asking the girl to take a picture for them in Mandarin.
					</p>
				</div>
				<div class="overview-list-item clearfix">
					<img src="../images/preview/9.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/media/set/?set=a.524409917697472.1073741846.482829291855535&type=3">
							Dumpling Night<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Boil or panfry, take your pick</span>
						</a>
					</h2>
					<p class="subtext">
						Everyone brought clean hands and empty stomachs, which led to the dumpling massacre of 2015 T^T. RIP perfect dumplings.
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/8.jpg">
					<a href="https://www.facebook.com/media/set/?set=a.525296650942132.1073741847.482829291855535&type=3">
						<h2 class="title">
							Alumni Field Day<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Revenge of the old people</span>
						</h2>
					</a>
					<p class="subtext">
						Alumni vs Members! Through the obstacle course and tiny cardboard boxes, we ran and tumbled in order to win bragging rights! Afterwards water ballons came out flying to cool down ourselves in the heat.
					</p>
				</div>
				<div class="overview-list-item clearfix">
					<img src="../images/preview/19.jpg">
					<a href="https://www.facebook.com/media/set/?set=a.506751962796601.1073741842.482829291855535&type=3">
						<h2 class="title">
							Skate Party (Retreat)<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">That moment when you fall face down.</span>
						</h2>
					</a>
					<p class="subtext">
						Feeling the wind in your face while skating real fast is nice. You should try it sometimes.
					</p>
				</div>

			</div>





			<div id="Interclub" class="tabcontent single">
				<div class="overview-list-item clearfix">
					<img src="../images/preview/16.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/media/set/?set=a.500969920041472.1073741838.482829291855535&type=3">
							TASA vs VSA: Basketball<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">Battle of the ages</span>
						</a>
					</h2>
					<p class="subtext">
						Showdown between Team TASA and Team VSA. We fought vailently and gave it our all. Sadly, they were too nimble for us. Next time, we will conquer them!
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/18.jpg">
					<a href="https://www.facebook.com/media/set/?set=a.507727162699081.1073741843.482829291855535&type=3">
						<h2 class="title">
							Dodgeball with SASE<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">One shot. One kill.</span>
						</h2>
					</a>
					<p class="subtext">
						Getting them throwing arms heated up takes a bit of trying. After a few test shots, hell broke lose. People fell left and right.
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/22.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/media/set/?set=a.498036210334843.1073741834.482829291855535&type=3">
							TASA & CSA: Speed Dating<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Meet the love of your college career</span>
						</a>
					</h2>
					<p class="subtext">
						No dates for Valentine's day? No worries as you can enjoy your evening with random but potential strangers for life!
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/11.jpg">
					<h2 class="title">
						Karaoke with YAD<br>
						<span class="small-font light highlight" style="letter-spacing: -1px;">Sing our hearts out</span>
					</h2>
					<p class="subtext">
						After a long day in class all you need is a place to sing, for better or for worse. Don't let me get a hold of the mic cause you won't get it back!
					</p>
				</div>
			</div>

			<div id="Volunteer" class="tabcontent single">
				<div class="overview-list-item clearfix">
					<img src="../images/preview/21.jpg">
					<h2 class="title">
						<a href="https://www.facebook.com/media/set/?set=a.503010743170723.1073741839.482829291855535&type=3">
							Volunteer at Austin Animal Shelter<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Walking doges big and small</span>
						</a>
					</h2>
					<p class="subtext">
						Everybody deserves some love, even pets! Who doesn't like to pet these cuddly furry creatures?!
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/1.jpg">
					<h2 class="title">
						Peace Park Cleanup<br>
						<span class="small-font light highlight" style="letter-spacing: -1px;">Building muscles one log at a time</span>
					</h2>
					<p class="subtext">
						Picking up those logs was no simple task. But we did it! Peace Park is clean once more and we even planted more trees and flowers. ;D
					</p>
				</div>
			</div>

			<div id="Fundraising" class="tabcontent single">
				<div class="overview-list-item clearfix">
					<img src="../images/preview/35.jpg">
					<h2 class="title">
						Tea Haus Fundraiser<br>
						<span class="small-font light highlight" style="letter-spacing: -1px;">Get your tapioca fix</span>
					</h2>
					<p class="subtext">
						Come by and get a classic milk tea with or without tapioca and say hi. I swear we don't bite.
					</p>
				</div>	

				<div class="overview-list-item clearfix">
					<img src="../images/preview/37.jpg">
					<h2 class="title">
						Mochi Fundraiser<br>
						<span class="small-font light highlight" style="letter-spacing: -1px;">Little balls of joy</span>
					</h2>
					<p class="subtext">
						Try handmade mochi crafted by TASA junior officers.
					</p>
				</div>

				<div class="overview-list-item clearfix">
					<img src="../images/preview/2.jpg">
					<a href="https://www.facebook.com/media/set/?set=a.494555774016220.1073741830.482829291855535&type=3">
						<h2 class="title">
							Oishi Fundraiser<br>
							<span class="small-font light highlight" style="letter-spacing: -1px;">Sushi fit for kings!</span>
						</h2>
					</a>
					<p class="subtext">
						Delicious sushi at an afforable price! Their spicy salmon rice balls are the best. Be sure to try it!
					</p>
				</div>
				<div class="overview-list-item clearfix">
					<img src="../images/preview/33.jpg">
						<h2 class="title">
							<a href="https://www.facebook.com/texas.tasa/photos/?tab=album&album_id=587675354704261&type=3">
							Pie a President Day<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">Face full of cream</span>
							</a>
						</h2>
						<p class="subtext">
							We had tons of fun pieing at our TASA president's expense, but hey, she got some donuts out of it!
						</p>
				</div>

				
			</div>
		</div>			
			<!--<div class="event-container">
				<div class="table clearfix">
					<div class="single">
						<ul class="event-nav">
							<li><a class="highlight" href="#a">2016</a></li>
							<li><a class="highlight" href="#b">2015</a></li>
							<li><a class="highlight" href="#c">2014</a></li>
							<li><a class="highlight" href="#d">2013</a></li>
						</ul>
					</div>
<!-- 2015 
					<div class="single">
						<div class="section" id="b">
							<span class="">2015</span>
						</div>
						



						
						
											
						
						<div class="overview-list-item clearfix">
							<img src="../images/preview/12.jpg">
							<h2 class="title">
								<a href="https://www.facebook.com/media/set/?set=a.495576753914122.1073741833.482829291855535&type=3">
									Board Game Night<br>
									<span class="small-font light highlight" style="letter-spacing: -1px;">Betting Milk Tea and Boba Drinks</span>
								</a>
							</h2>
							<p class="subtext">
								Majong, King of Tokyo, Bang! Name your favourite board game and we got it. Make sure to bring your A game though, cause you don't want to lose them delicious drinks. 
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/preview/13.jpg">
							<h2 class="title">
								<a href="https://www.facebook.com/media/set/?set=a.494553230683141.1073741829.482829291855535&type=3">
									First General Meeting<br>
									<span class="small-font light highlight" style="letter-spacing: -1px;">Starting off the semester right</span>
								</a>
							</h2>
							<p class="subtext">
								People Bingo
							</p>
						</div>
					</div>
<!-- 2014
					<div class="single">
						<div class="section" id="c">
							<span class="">2014</span>
							<span class="highlight" style="float: right"><a href="#top">^</a></span>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/preview/23.jpg">
							<h2 class="title">
								<a href="https://www.facebook.com/media/set/?set=a.499405120197952.1073741835.482829291855535&type=3">
									End of the Year Banquet<br>
									<span class="small-font light highlight" style="letter-spacing: -1px;">Phantom of the Opera</span>
								</a>
							</h2>
							<p class="subtext">
								The scene is set at The Hightower, which captured the essence of the phantom so well. We dined, laughed, said our farewells. Goodbye TASA Class of 2014. We hope everyone enjoyed this year and is looking forward to more awesome experiences together.
							</p>
						</div>
						
						<div class="overview-list-item clearfix">
							<img src="../images/preview/5.jpg">
							<h2 class="title">
								12th Annual Night Market<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">Under the starlight</span>
							</h2>
							<p class="subtext">
								Night life just got better! Awesome performance from new performees and past verterans! Thanks everyone for coming out and celebrating Taiwanese culture.
							</p>
						</div>
						
						<div class="overview-list-item clearfix">
							<img src="../images/preview/31.jpg">
							<h2 class="title">
								<a href="https://www.facebook.com/media/set/?set=a.495576753914122.1073741833.482829291855535&type=3">
									Board Game Night<br>
									<span class="small-font light highlight" style="letter-spacing: -1px;">May the luckiest person win</span>
								</a>
							</h2>
							<p class="subtext">
								We've got your classic board games and even collaborative game apps on your phones!
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/preview/30.jpg">
							<h2 class="title">
								<a href="https://www.facebook.com/media/set/?set=a.494553230683141.1073741829.482829291855535&type=3">
									First General Meeting<br>
									<span class="small-font light highlight" style="letter-spacing: -1px;">Starting off the semester right</span>
								</a>
							</h2>
							<p class="subtext">
								Learn something cool about the people around you and become best buddies :D
							</p>
						</div>
					</div>
				</div>
			</div>-->
		</div>




		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
<script src="../js/jquery-2.1.4.js"></script>
<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done")
	}


//Begin Event Tab stuff
	function openEvents(evt, Name) {
	var i, tabcontent, tablinks;
	tabcontent = document.getElementsByClassName("tabcontent");
	for(i=0;i<tabcontent.length;i++){
		tabcontent[i].style.display="none";
	}
	tablinks=document.getElementsByClassName("tablinks");
	for(i=0;i<tablinks.length;i++){
		tablinks[i].className = tablinks[i].className.replace(" active","");
	}
	document.getElementById(Name).style.display= "block";
	evt.currentTarget.className +=" active"
	}
//End Event Tab stuff

</script>


<script type="text/javascript">
	$('a[href*=#]:not([href=#])').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') || location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top
				}, 1000);
				return false;
			}
		}
	});
</script>
</html>