<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Food</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="current-nav-item" href="../views/food.html">Food</a></li>

				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix food load" id="main-container">
			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						Culinary goodies.
						<br>
						Make them with<span class="highlight"><a href="../views/home.html"> us!</a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/31.jpg" alt="">
			</div>
			<div class="food-container">
				<div class="table clearfix">
					<div class="single">
						<div class="section">
							<span class="">Menu de la TASA</span>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/preview/26.jpg">
							<h2 class="title">
								<a href="https://en.wikipedia.org/wiki/Scallion_pancake">Green Onion Pancake <br>(蔥油餅)<br></a>
								<span class="small-font light black" style="letter-spacing: -1px;">Made with Love</span>
							</h2>
							<p class="subtext">
								GOP is a Chinese savory, unleavened flatbread folded with oil and minced scallions (green onions). Unlike Western pancakes, it is made from dough instead of batter. Variations exist on the basic method of preparation that incorporate other flavors and fillings.
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/preview/27.jpg">
							<h2 class="title">
								<a href="https://en.wikipedia.org/wiki/Dumpling">Dumpling (餃子)<br></a>
								<span class="small-font light black" style="letter-spacing: -1px;">Tangy and full of Meat</span>
							</h2>
							<p class="subtext">
								Dumplings consists of small pieces of dough wrapped around a filling. They can be based on flour, potatoes or bread, and may include meat, fish, vegetables, or sweets. They may be cooked by boiling, steaming, simmering, frying.
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/preview/28.jpg">
							<h2 class="title">
								<a href="https://en.wikipedia.org/wiki/Pineapple_cake">Pinapple Cake (鳳梨酥)<br></a>
								<span class="small-font light black" style="letter-spacing: -1px;">Baked to Perfection</span>
							</h2>
							<p class="subtext">
								Pinapple Cake contains butter, flour, egg, sugar, and pineapple jam. However, some bakers add or even substitute pineapple with winter melon to make the jam. Its crumbly, fragrant crust and the chewy, sweet fruit filling come together as an excellent companion for tea and other beverages.
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/preview/29.jpg">
							<h2 class="title">
								<a href="https://en.wikipedia.org/wiki/Oyster_omelette">Oyster Omelete (蚵仔煎)<br></a>
								<span class="small-font light black" style="letter-spacing: -1px;">An unusal Combination</span>
							</h2>
							<p class="subtext">
								Oyster omelette is a Chinese dish that is widely known in Taiwan, Fujian, and many parts of Asia for its savory taste. Variations of the dish preside in some southern regions of China although the actual taste and appearance of these can vary by a lot from the original version from Taiwan.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done")
	}
</script>
</html>