<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | UT Austin</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix home">
			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						We are awesome.
						<br>
						So learn more <span class="highlight"><a href="../views/about.html">about</a></span> us.
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/23.jpg" alt="">
			</div>

			<div class="overview-container">
				<div class="table clearfix">
					<div class="single">
						<div class="section">Upcoming Events</div>

						<div class="overview-list-item clearfix">
							<img src="../images/icon/heart.png" alt="">
							<h2 class="title">

								<a href="https://www.facebook.com/events/684197291717070/">
								Keso's Taco House Profit Share!<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
								11/19/15 ♥ 5PM - 7PM ♥ 600 W MLK Blvd</span>
								</a>
							</h2>
							<p class="subtext">
								Grab a friend and come grab some tacos at Keso's Taco House! Mention TASA at the register wso we can make some $$ too! Hope to see you there :)
							</p>
						</div>

						<div class="overview-list-item clearfix">
							<img src="../images/icon/bomb.png" alt="">
							<h2 class="title">

								<a href="https://www.facebook.com/events/1488224944819298/">
								Blazertag!<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
								11/19/15 ♥ 8PM - 10PM ♥ Blazertag</span>
								</a>
							</h2>
							<p class="subtext">
								Get your game on with Blazertag with TASA! 10$ for 2 games lasting about 20 minutes each! Sign up here: http://goo.gl/forms/jFYRcvnVM3 
							</p>
						</div>

						<div class="overview-list-item clearfix">
							<img src="../images/icon/bubble.png" alt="">
							<h2 class="title">

								<a href="https://www.facebook.com/events/1049338128440509/">
								Tea Haus Fundraiser!<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
								11/20/15 ♥ 11AM - 2PM ♥ Jester Center</span>
								</a>
							</h2>
							<p class="subtext">
								Grab your weekly boba fix with some Tea Haus Milk Tea!! 1 for $3 and 3 for $5!
							</p>
						</div>

						<div class="overview-list-item clearfix">
							<img src="../images/icon/star.png" alt="">
							<h2 class="title">
								<a href="https://www.facebook.com/events/1031752526866066/">
								TASA + CSA PRESENTS: THANKSGIVING PARTY<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
								11/20/15 ♥ 10PM - 1AM ♥ 2616 Salado St</span>
								</a>
							</h2>
							<p class="subtext">
								Come party with the best at our Thanksgiving party! 5$ flat fee, 1$ off if you come dressed as a turkey! YOU DO NOT WANT TO MISS THIS.
							</p>
						</div>

					</div>
				</div>

				<div class="table clearfix">
					<div class="half">
						<div class="section">Contacts</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/cw.jpg" alt="">
							<h2 class="title">Christine Wang <span class="small-font light">President</span></h2>
							<p class="subtext">
								Send all general questions and fan-mail here
								<br>
								Email: tasa.president@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/vc.jpg" alt="">
							<h2 class="title">Valentina Chen <span class="small-font light">VP-Internal</span></h2>
							<p class="subtext">
								Direct all Junior Officer program and event questions here
								<br>
								Email: tasa.internal@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/ml.jpg" alt="">
							<h2 class="title">Mimi Lie <span class="small-font light">VP-External</span></h2>
							<p class="subtext">
								Delegate all cross-club inquires here
								<br>
								Email: tasa.external@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/Tiffany-Lin.jpg" alt="">
							<h2 class="title">Tiffany Lin <span class="small-font light"> GLO Representative</span></h2>
							<p class="subtext">
								For GLO related questions.
								<br>
								Email: tifflintastic@gmail.com
							</p>
						</div>
					</div>
					<div class="half">
						<div class="section">Shoutouts<span class="highlight"></span></div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/shipwheel.png" alt="">
							<h2 class="title" style="color:#DF272C"><a href="http://itasa.org/">ITASA</a></h2>
							<p class="subtext">
								Want to get involved and connect with college students from across the country? Get started and build your own Taiwanese American community. Contact <a href="https://www.facebook.com/yen.ting1"><span class="highlight bold">Yen Ting</span></a> for more information.
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/racingflags.png" alt="">
							<h2 class="title" style="color:#DF272C"><a href="http://www.wearegloballeaders.com/">GLO<br><span class="small-font light highlight"></span></a></h2>
							<p class="subtext">
								Enhance your social circle by meeting passionate individuals with tangible skills to become leaders in all facets of our global society. Contact <a href="https://www.facebook.com/tifflintastic"><span class="highlight bold">Tiffany Lin</span></a> for more information.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>