<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | UT Austin</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
		<style>
	.tooltip {
	  background: #eee;
	  box-shadow: 0 0 5px #999999;
	  color: #333;
	  display: none;
	  font-size: 12px;
	  left: 130px;
	  padding: 10px;
	  position: absolute;
	  text-align: center;
	  top: 95px;
	  width: 80px;
	  z-index: 10;
	}
	#pie {
  height: 360px;
  position: relative;
  width: 360px;
  float: left;
}
	#bar {
  height: 360px;
  position: relative;
  width: 360px;
  float: left;
}

.axis path {
	display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


	</style>

</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix home load" id="main-container">
			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						We are awesome.
						<br>
						So learn more <span class="highlight"><a href="../views/about.html">about</a></span> us.
					</div>
					<div class="triangle"></div>
				</div>

				<img id="hero-top" src="../images/hero/31.jpg" alt="">
			</div>

			<div class="overview-container">
				<div class="table clearfix">
					<h1>
						<a href="../views/apply.html"><font size="15" color="#ff0066">Apply to be a Junior Officer here!</font></a>
					</h1>
					<div class="single">
						<div class="section">Upcoming Events</div>

						<!--<div class="overview-list-item clearfix">
							<img src="../images/icon/bubble.png" alt="">
							<h2 class="title">
								<a href="https://www.facebook.com/texas.tasa/events">
								Tea Haus Fundraiser!<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
								FRIDAYS ♥ 11AM - 2PM ♥ Jester Center</span>
								</a>
							</h2>
							<p class="subtext">
							Heard about the craze with Tea Haus but have no way of getting there?
							Don't fear because WE ARE BRINGING BACK TEA HAUS TO YOU! we'll be selling Tea Haus' Boba Milk Tea every Friday!
							1 for $3 and 3 for $5!
							</p>
						</div><!-->
					
						<div class="overview-list-item clearfix">
							<img src="../images/icon/GM1.jpg">
							<h2 class="title">
								Second General Meeting<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Wednesday, September 7th</span>	
							<h2>
							<p class="subtext">
								TASA's second general meeting. Be sure to stay up to date for the fun activities we have planned!</p>
						</div>			
						<div class="overview-list-item clearfix">
							<img src="../images/icon/flag.png">
							<h2 class="title">
								Capture the Flag<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Saturday, September 10th</span>	
							<h2>
							<p class="subtext">
								Join us for dinner and glow-in-the-dark Capture the Flag with glow baton things at the Capitol!</p>
						</div>
						
					</div>
				</div>

				<div class="table clearfix">
					<div class="half">
						<div class="section">Contacts</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/vc.jpg" alt="">
							<h2 class="title">Valentina Chen <span class="small-font light">President</span></h2>
							<p class="subtext">
								Send all general questions and fan-mail here
								<br>
								Email: tasa.president@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/mt.jpg" alt="">
							<h2 class="title">Max Tang <span class="small-font light">VP-Internal</span></h2>
							<p class="subtext">
								Direct all Junior Officer program and event questions here
								<br>
								Email: tasa.internal@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/jl.jpg" alt="">
							<h2 class="title">Justin Liang <span class="small-font light">VP-External</span></h2>
							<p class="subtext">
								Delegate all cross-club inquires here
								<br>
								Email: tasa.external@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/Tiffany-Lin.jpg" alt="">
							<h2 class="title">Tiffany Lin <span class="small-font light"> GLO Representative</span></h2>
							<p class="subtext">
								For GLO related questions.
								<br>
								Email: tifflintastic@gmail.com
							</p>
						</div>
					</div>
					<div class="half">
						<div class="section">Shoutouts<span class="highlight"></span></div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/shipwheel.png" alt="">
							<h2 class="title" style="color:#DF272C"><a href="http://itasa.org/">ITASA</a></h2>
							<p class="subtext">
								Want to get involved and connect with college students from across the country? Get started and build your own Taiwanese American community. Contact <a href="https://www.facebook.com/yen.ting1"><span class="highlight bold">Yen Ting</span></a> for more information.
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/racingflags.png" alt="">
							<h2 class="title" style="color:#DF272C"><a href="http://www.wearegloballeaders.com/">GLO<br><span class="small-font light highlight"></span></a></h2>
							<p class="subtext">
								Enhance your social circle by meeting passionate individuals with tangible skills to become leaders in all facets of our global society. Contact <a href="https://www.facebook.com/tifflintastic"><span class="highlight bold">Tiffany Lin</span></a> for more information.
							</p>
						</div>
					</div>
				</div>

				<!--<div class="table clearfix">
					<div class="single">
						<div class="section">Family Scoreboard</div>
					</div>
					<div class="half">
						<div class="overview-list-item clearfix" id="pie"></div>
					</div>
					<div class="half">
						<div class="overview-list-item clearfix" id="bar"></div>
					</div>
				</div><!-->
			</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
<script src="../js/d3-3.5.13.js"></script>
<script src = "../js/jquery-2.1.4.js"></script>

<script>

$("#hero-top").attr("src", "../images/hero/9" + Math.floor(Math.random() * 7) + ".jpg");

var dataset = [];

var width = 462;
var height = 360;
var heightbar = 100;

var radius = Math.min(width, height) / 2;

var color = d3.scale.category20b();

var tooltip = d3.select('#pie')
.append('div')
.attr('class', 'tooltip');

tooltip.append('div')
.attr('class', 'label');

tooltip.append('div')
.attr('class', 'count');

tooltip.append('div')
.attr('class', 'percent');


        var svg = d3.select('#pie')
          .append('svg')
          .attr('width', width)
          .attr('height', height)
          .append('g')
          .attr('transform', 'translate(' + (width / 2) + 
            ',' + (height / 2) + ')');

        var arc = d3.svg.arc()
          .outerRadius(radius);

        var pie = d3.layout.pie()
          .value(function(d) { return d.count; })
          .sort(null);

        var path = svg.selectAll('path')
          .data(pie(dataset));

var bsvg = d3.select('#bar')
.append('svg')
.attr('width', width)
.attr('height', height);

bsvg.append("g")
.attr("class", "y axis")

var sy = d3.scale.linear()
.domain([0, 0])
.range([0, width-60]);

var y = d3.scale.ordinal()
.rangeRoundBands([0, heightbar], .1);

var yAxis = d3.svg.axis()
.scale(y)
.orient("left");

	for(var x = 1; x < 5; x++){
		var url = "https://spreadsheets.google.com/feeds/cells/1XbWLdOv1HVswmjCZMC6hcVD4DjByGMMjsEQ502qtHZo/"+ x +"/public/basic?alt=json";
		$.ajax({
		    url: url,
		    dataType: "jsonp",
		    success:function(data) {
		        // data.feed.entry is an array of objects that represent each cell
		        var name = data["feed"]["title"]["$t"];
				var points;
		 
				var arrayLength = data["feed"]["entry"].length;
				for (var i = 0; i < arrayLength; i++) {
				    if( data["feed"]["entry"][i]["title"]["$t"] == "B32" )
				    	points = parseInt(data["feed"]["entry"][i]["content"]["$t"])
				}
				dataset.push({"label": name, "count": points})
				console.log(dataset)

				path.data(pie(dataset))
				.enter()
				.append('path')
				.attr('d', arc)
				.attr('fill', function(d, i) { return color(i); })	
				.on('mouseover', function(d) {
					var total = d3.sum(dataset.map(function(d) {
						return d.count;
					}));

					var percent = Math.round(1000 * d.data.count / total) / 10;
					tooltip.select('.label').html(d.data.label);
					tooltip.select('.count').html(d.data.count); 
					tooltip.select('.percent').html(percent + '%'); 
					tooltip.style('display', 'block');
				})
				.on('mouseout', function() {
					tooltip.style('display', 'none');
				})
				.on('mousemove', function(d) {
					tooltip.style('top', (d3.event.layerY + 10) + 'px')
					.style('left', (d3.event.layerX + 10) + 'px');
				});

sy.domain([0, d3.max(dataset, function(d,i) { return d.count; })])

y.domain(dataset.map(function(d) { return d.label; }));

bsvg.select(".y.axis")
.attr("transform", "translate("+ 60 +","+ 0 +")")
.call(yAxis);

var bars = bsvg.selectAll("rect").data(dataset);

bars.exit()
.transition()
.duration(300)
.remove();

bars.enter()
.append("rect")
.attr("x", 60)
.attr("y", function(d, i) { console.log("asda"); return i * 25; })
.attr("width", function(d) { return sy(d.count) }) 
.attr("height", 20)
.attr("fill", function(d, i) { return color(i); });

bars.transition()
.duration(300)
.attr("width", function(d) { return sy(d.count) }) 

			}
		});
	}

</script>
<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done")
	}
</script>
</html>






