<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Night Market</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
</head>
<body>
	<div class="main-container" id="top">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix night-market">
			<div class="header">
				TASA would like to thank all the following sponsors	for making 2014 Night Market possible 
				at UT
			</div>

			<div class="logo-container">
				<div class="table clearfix">
					<div class="col-30">
						<div class="logo-list-item">
							<a href="http://www.universitycoop.com/">
								<img src="../images/coop.jpg">
							</a>
						</div>
						<div class="logo-list-item">
							<a href="https://www.facebook.com/daebakshirts">
								<img src="../images/chat.jpg">	
							</a>
						</div>
					</div>
					<div class="col-30">
						<div class="logo-list-item">
							<a href="http://utsenate.org/">
								<img src="../images/senate.jpg">	
							</a>		
						</div>
						<div class="logo-list-item">
							<a href="https://www.facebook.com/utexascee">
								<img src="../images/ee.jpg">		
							</a>					
						</div>
						<div class="logo-list-item">
							<a href="https://www.facebook.com/Annamtik">
								<img src="../images/annamtik.jpg">	
							</a>						
						</div>
					</div>
					<div class="col-30">
						<div class="logo-list-item">
							<a href="http://utsg.org/">
								<img src="../images/sg.jpg">
							</a>
						</div>
						<div class="logo-list-item">
							<a href="http://www.utexas.edu/diversity/">
								<img src="../images/ddoc.jpg">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>