<!DOCTYPE html>
<html id="tothtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>TOT - Apr 9</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
</head>
<body id="totbody">
	<div id="main">
		<img class="center logo" src="../images/icon/star.png"/>
		<div class="title">TASTE OF TAIWAN</div>
		<div class="tagline">EAT. EXPERIENCE. ENJOY.</div>
		<div class="description">
		FREE <span class="highlight">FOOD</span>.
		FREE <span class="highlight">SHOW</span>.
		BEST <span class="highlight">NIGHT</span>.
		<br> 
		<span class="lowlight">MARCH 31ST</span>. RIGHT HERE AT <span class="lowlight">UT MAIN MALL</span>.
		</div>
		<div class="entry">OPEN TO ALL FACULTIES AND STUDENTS.</div>
	</div>
	<div id="info">
		<div class="title">WHAT IS <span class="highlight">TASTE OF TAIWAN?</span></div>
		<div class="table">
		Taste of Taiwan is a cultural event held by TASA, Taiwanese American Student Association. Join other students for a night like none other, full of fun games, shocking performances, and not to mention FREE FOOD. It's the perfect opportunity to meet and mingle with other like-minded students, all the while learning more about Taiwan.
		<br><br>
		We welcome all those not allergic to FUN! 
		</div>
	</div>
	<div id="schedule">
		<div class="title">SCHEDULE</div>
		<div class="table">
			7:00 PM<span class="right-align">Opening Ceremony</span> <br>
			7:15 pm<span class="right-align">Texas Dragon Dance</span> <br>
            7:30 pm<span class="right-align">Kentaro Inao and Aditya</span> <br>
            7:40 pm<span class="right-align">Texas Wushu</span> <br>
            7:55 pm<span class="right-align">BIAS</span> <br>
            8:10 pm<span class="right-align">Karina Soto + Friends</span> <br>
            8:45 pm<span class="right-align">Rachel Lee</span> <br>
            9:15 pm<span class="right-align">Christina Song</span> <br>
            9:30 pm<span class="right-align">Gerald Liu & Alan Chen</span> <br>
            10:00 pm<span class="right-align">Closing Remarks</span> <br>
			10:30 PM<span class="right-align">Clean Up!</span> <br>
		</div>
	</div>
	<div id="faq">
		<div class="title">FAQ</div>
		<div class="table">
			<div class="question-container">
				<div class="question lowlight">WHEN WILL TASTE OF TAIWAN TAKE PLACE?</div>
				<div class="answer">
					Taste of Taiwan will begin on Thursday, March 31, 2016, from 7PM to 10PM. <br> A more detailed schedule will be released closer to the actual date of the event.
				</div>
			</div>
			<div class="question-container">
				<div class="question lowlight">WHO CAN COME?</div>
				<div class="answer">
					Anyone who is interested in eating authentic food or experiencing  cultural activities.
					Or maybe you've got time to spare! Take a chance and see new things!
				</div>
			</div>
			<div class="question-container">
				<div class="question lowlight">HOW MUCH DOES ATTENDING COST?</div>
				<div class="answer">
					Admission is free, and includes food, drinks, and miscellaneous swag for the entire event!
				</div>
			</div>
			<div class="question-container">
				<div class="question lowlight">I'M INTERESTED IN PERFORMING! WHO SHOULD I CONTACT?</div>
				<div class="answer">
					All interested parties should contact Chris Liu, our awesome external officer, through his email, tasa.external@gmail.com.
				</div>
			</div>

			<div class="question-container">
				<div class="question lowlight">WHAT FOOD WILL YOU PROVIDE?</div>
				<div class="answer">
					Delicious asian cuisine will be catered throughout the event, as well as some home made xiaochi, or snack food, specific to regions in Taiwan! Come at home made green onion pancakes! We also have traditional soy milk and fried dough stick. However, quantity is limited so come early!
				</div>
			</div>
			<div class="question-container">
				<div class="question lowlight">WHAT IF IT RAINS THAT DAY?</div>
				<div class="answer">
					The event will still continue. Mulitple tents will be available!
				</div>
			</div>
			<div class="question-container">
				<div class="question lowlight">CAN I VOLUNTEER?</div>
				<div class="answer">
					The more manpower the better! Make sure to fill out this <a href="https://docs.google.com/a/utexas.edu/forms/d/1lZWp4iUm8HXxZRKsqPsTHKwBrXWk_ROM70LCS96iywc/viewform" style="text-decoration: underline;">form</a>, so we can contact you!
				</div>
			</div>
			<div class="question-container">
				<div class="question lowlight">MORE QUESTIONS?</div>
				<div class="answer">
					You can get in touch with us at tasa.president@gmail.com or via our <a href="https://www.facebook.com/ut.tasa" style="text-decoration: underline;">Facebook</a> page!
				</div>
			</div>
		</div>
	</div>
	<div id="sponsor">
		<div class="title">SPONSORS</span></div>
		<div class="table">
			<div>
				<img class="sponsor-img" src="../images/logo/coop.jpg">
				<img class="sponsor-img" src="../images/logo/sg.jpg">
				<img class="sponsor-img" src="../images/logo/ee.jpg">
				<img class="sponsor-img" src="../images/logo/ddoc.jpg">
				<img class="sponsor-img" src="../images/logo/senate.jpg">
			</div>
		</div>
	</div>
	<div id="credit">
		<img class="center logo" src="../images/icon/bolt.png"/>
		<div class="title">TASTE OF TAIWAN</div>
		<div class="tagline">EAT. EXPERIENCE. ENJOY.</div>
	</div>
</body>
</html>